################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Козлов Денис/Пока/Poka/Poka.vcxproj.user
/Козлов Денис/Пока/Poka/Poka.vcxproj.filters
/Козлов Денис/Пока/Poka/Poka.vcxproj
/Козлов Денис/Пока/Poka/Poka.sln
/Козлов Денис/Пока/Poka/.vs/Poka/v16/ipch/AutoPCH/9323f3a60469c00/POKA.ipch
/Козлов Денис/Пока/Poka/.vs/Poka/v16/Browse.VC.opendb
/Козлов Денис/Пока/Poka/.vs/Poka/v16/Browse.VC.db
/Козлов Денис/здравствуйте/ConsoleApplication1/.vs/ConsoleApplication1/v16
