################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Козлов Денис/Пока/Poka/Poka.vcxproj.user
