################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Козлов Денис/Hello/Hello.vcxproj.user
/Козлов Денис/Hello/Hello.vcxproj.filters
/Козлов Денис/Hello/Hello.vcxproj
/Козлов Денис/Hello/Hello.sln
/Козлов Денис/Hello/.vs/Hello/v16/ipch/AutoPCH/f42490628dd15158
*.suo
*.db
*.opendb
